.boton{
    background-color:black;
    color:antiquewhite;
    padding: 12px 24px;
    font-size: 40px;
    transition: background 0,3s;

}
.boton:hover
{
    background-color: slategrey;
}